# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Operating System
.DS_Store
Thumbs.db
